<div class="columns">
    <div class="column is-one-third">
        LIÊN HỆ MUA HÀNG
        VP Hà Nội: 40 Quốc Tử Giám - Đống Đa – Hà Nội
        0977.323.729

        LƯU Ý
        Website đang trong thời gian xin cấp giấy phép. Mọi thông tin xin vui lòng liên hệ qua số điện thoại: 0977.323.729 Để
        được tư vấn và có giá ưu đãi nhất.
    </div>
    <div class="column is-one-third">
        Rượu vang Pháp
        Rượu vang Ý
        Rượu vang Tây Ban Nha
        Rượu vang Chile
        Rượu vang bịch
        Rượu Champagne
    </div>
    <div class="column is-one-third">
        <figure class="image is-128x128">
            <img src="https://ruoutot.net/wp-content/uploads/2017/07/1231.png">
        </figure>
    </div>
</div>